button{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: #fff solid;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}

.game{
    background-color: rgba(255, 255, 255, 0.2);
}
