button{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: #fff solid;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(170, 170, 170);
}

a{
    text-decoration: none;
    color: #000;
}

.btn{
    font-size: medium;
}

.game{
    display: flex;
    justify-content: center; /* en el eje y*/
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
