/* Background color degrade --->  https://cssgradient.io/ */
/* Generador de texto gif ------> https://es.textstudio.com/logo/321/Css+Font+Face */


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background: linear-gradient(0deg, rgba(91,0,119,1) 0%, rgba(252,0,255,1) 39%, rgba(252,0,255,1) 65%, rgba(201,0,255,1) 100%);
}

article{
   display: flex;
   justify-content: center;
}
p{
    width: 260px;
}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head {
    /* background-color: #c900ff; */
    width: 100vw;
    height: 20vh;
    text-align: center;
    
}

.head .tit{
    width: 25vw; /* ARREGLAR TAMAÑO IMAGEN*/
}

.cont1 {
    background-color: transparent;
    height: calc(100vh - 20vh);
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}
.cont2 {
    background-color: transparent;
    height: calc(100vh - 20vh);
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;
}
.cont3 {
    background-color: transparent;
    height: calc(100vh - 20vh);
    flex-grow: 1;
    text-align: center;
}




